HOST=localhost
PORT=0000
JWT_SECRET=chave_secret
# Url do frontend
CLIENT_URL=http://localhost:0000

DB_ROOT_PASS=****
DB_USER=user
DB_PASS=****
DB_NAME=name_banco_dados
DB_PORT=0000

# Banco de dados local
DATABASE_URL="prisma+postgres://localhost:51213/?api_key"
# Banco de dados docker
DATABASE_DOCKER_URL="mysql://DB_USER:DB_PASS@mysql:PORT/DB_NAME"